/********************** 글로벌 설정 *********************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
/* font-family: 'Noto Serif', serif; */
@import 'nanum-barun.css';
/* font-family: 'NanumBarunGothic', sans-serif */

html, body {font-family: 'NanumBarunGothic', sans-serif;}

/********************** header-wrapper *********************/
.header-wrapper {font-family: 'Noto Serif', serif; display: flex; align-items: center; background-color: #333; color: #fff;}
.header-wrapper .logo {font-size: 1.75em; padding-left: .5em;}
.header-wrapper .logo i {font-size: .875em;}
.header-wrapper .navi-wrap {margin-left: auto; display: flex; align-items: center; font-family: 'NanumBarunGothic', sans-serif;}
.header-wrapper .navi-wrap .navi {padding: 1.5em; cursor: pointer;}
.header-wrapper .navi-wrap .navi:hover {background-color: crimson;}
.header-wrapper .navi-wrap .navi.bt-logout {display: none;}

.header-wrapper .navi-wrap .info-wrap {display: flex; align-items: center; display: none;}
.header-wrapper .navi-wrap .info-wrap .photo {border-radius: 50%; overflow: hidden; width: 36px; margin-right: .5em;}
.header-wrapper .navi-wrap .info-wrap .email {font-size: 1.125em; margin-right: .5em;}

/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}